.vscode
HELP.md
build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store

data/pubchem_cid_4_patent.csv

### Python ###
*.pyc
*__pycache__*
.ipynb_checkpoints/
.micromamba

### C++ ###
CMakeUserPresets.json
vcpkg_installed
